## collections in python
## list

### average marks of students in a class
### sequence of elements 
### we use some of the data structures to store values sequentially

In [1]:
#create a list--->seq of elements
#list is created using list function, its empty list, denoted square, class called list
l1  = list()
print(l1 , type(l1))
print("-" *40)
l2 = [1,2,3,4,5,6, 10.5 ,"hi", 10+5j] #it is all integers,#homogenous
print(l2)



#ordered --->  satifies
l3 = [10,20,30,40,50, 10.5, "hi", 10, 10]#insertion order 
print(l3)
l4  = [100, 200]
l3 + l4   #concatenation

[] <class 'list'>
----------------------------------------
[1, 2, 3, 4, 5, 6, 10.5, 'hi', (10+5j)]
[10, 20, 30, 40, 50, 10.5, 'hi', 10, 10]

[10, 20, 30, 40, 50, 10.5, 'hi', 10, 10, 100, 200]

In [2]:
l5  = [1,2,3,4,5]  
#1---> 1000
#indexing ---> 0 --- n-1
print(len(l5))
print(l5[0], l5[1], l5[2] , l5[3], l5[4])
#slicing ---subset of this list

print('--------------------------Slicing------------------------')

print(l5[0:])
print(l5[0:1])
print(l5[0:2])
print(l5[0:3])
print(l5[1:4])
print(l5[-5:-3])
print(l5[-3:-2])

print('=========================Replace=========================')

l5[0]  =  1000
print(l5)

5
1 2 3 4 5
--------------------------Slicing------------------------
[1, 2, 3, 4, 5]
[1]
[1, 2]
[1, 2, 3]
[2, 3, 4]
[1, 2]
[3]
=========================Replace=========================
[1000, 2, 3, 4, 5]

### Python Lists are just like dynamically sized arrays, declared in other languages (vector in C++ and ArrayList in Java). In simple language, a list is a collection of things, enclosed in [ ] and separated by commas.

#### The list is a sequence data type which is used to store the collection of data. Tuples and String are other types of sequence data types.

##### Lists are the simplest containers that are an integral part of the Python language. 
##### Lists need not be homogeneous always which makes it the most powerful tool in Python. 
##### A single list may contain DataTypes like Integers, Strings, as well as Objects. 
##### Lists are mutable, and hence, they can be altered even after their creation

In [4]:
# Python program to demonstrate
# Creation of List

# Creating a List
List = []
print("Blank List: ")
print(List)

# Creating a List of numbers
List = [10, 20, 14]
print("\nList of numbers: ")
print(List)

# Creating a List of strings and accessing
# using index
List = ["Geeks", "For", "Geeks"]
print("\nList Items: ")
print(List[0])
print(List[2])

Blank List:
[]

List of numbers:
[10, 20, 14]

List Items:
Geeks
Geeks

# Lists in Python can be created by just placing the sequence inside the square brackets[].

# Complexities for Creating Lists

# Time Complexity: O(1)

# Space Complexity: O(n)

In [5]:
# List Items

# List items are ordered, changeable, and allow duplicate values.

# List items are indexed, the first item has index [0], the second item has index [1] etc.

In [6]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [7]:
thislist[0] = 'orange'

In [8]:
thislist # Mutable

['orange', 'banana', 'cherry', 'apple', 'cherry']

In [10]:
thislist.append('apple')

In [11]:
thislist # allows duplicates

['orange', 'banana', 'cherry', 'apple', 'cherry', 'apple']

In [12]:
#manipulation function
list_1 = [1, 2, 3, 4, 5, 6, 7]
print('Length of list is:',len(list_1))

Length of list is: 7

In [13]:
list_1.append(20) # Shift + Tab on particular function
list_1

[1, 2, 3, 4, 5, 6, 7, 20]

In [14]:
# list_1.extend() Multiple objects / items / elements
fruits = ['apple', 'banana', 'cherry']

cars = ['Ford', 'BMW', 'Volvo']

fruits.extend(cars)
print(fruits)
list_1.extend(fruits)
print('Length of list is:',len(list_1))

['apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo']
Length of list is: 14

#### append() adds a single element to the end of the list while . extend() can add multiple individual elements to the end of the list.

In [15]:

list_1.append([1000, 2000])
print(list_1) # It creating list of list / also called as nested list

[1, 2, 3, 4, 5, 6, 7, 20, 'apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo', [1000, 2000]]

In [19]:
# Remove last elemnt in list 
list_1.pop(14)

[1000, 2000]

In [21]:
list_1.append([1000, 2000])

In [24]:
print(list_1)

[1, 2, 3, 4, 5, 6, 7, 20, 'apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo', [1000, 2000]]

In [25]:
# Index of nested list
print(list_1[14])
print('-'*50)
print(list_1[14][0])
print('-'*50)
print(list_1[14][1])

[1000, 2000]
--------------------------------------------------
1000
--------------------------------------------------
2000

In [26]:
# Copy of list
copy_list = list_1.copy()
print(list_1)
print('-'*50)
print(copy_list)

[1, 2, 3, 4, 5, 6, 7, 20, 'apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo', [1000, 2000]]
--------------------------------------------------
[1, 2, 3, 4, 5, 6, 7, 20, 'apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo', [1000, 2000]]

In [27]:
# Insert element at particular index
list_1.insert(0, 4000)
print('List after inserting at particular index:', list_1)

List after inserting at particular index: [4000, 1, 2, 3, 4, 5, 6, 7, 20, 'apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo', [1000, 2000]]

In [28]:
# Remove function
list_3 = [5000, 3, 9, 12, 15, 18, 21, 27]
print(list_3)
print('-'*100)
list_3.remove(5000)
print(list_3)

[5000, 3, 9, 12, 15, 18, 21, 27]
----------------------------------------------------------------------------------------------------
[3, 9, 12, 15, 18, 21, 27]

In [29]:
# Remove last element of list
list_3.pop()

27

In [30]:
list_3

[3, 9, 12, 15, 18, 21]

### Remove will take value to remove the element from list
### pop will take the index to remove the element from list

In [31]:
# Clear method to delete all elements from list
list_2 = [2, 4, 9, 16, 25]
list_2.clear()
list_2

[]

In [32]:
list_2.extend([2, 4, 9, 16, 25])
list_2

[2, 4, 9, 16, 25]

In [33]:
# del keyword
del list_2[0]

In [34]:
list_2

[4, 9, 16, 25]

In [35]:
# Delete indexwise list
del list_2[0:2]

In [36]:
list_2

[16, 25]

In [37]:
# Delete entire list
del list_2

In [38]:
list_2

NameError: name 'list_2' is not defined

In [39]:
list_2 = [4, 9, 16, 25, 36, 49, 64, 81]
list_2

[4, 9, 16, 25, 36, 49, 64, 81]

In [40]:
# Count method
l2 = [1, 4, 9, 16, 25, 4, 9, 25, 81]
print(l2)
print('-'*100)
print(l2.count(4))

[1, 4, 9, 16, 25, 4, 9, 25, 81]
----------------------------------------------------------------------------------------------------
2

In [41]:
# Copy List
l3 = list_2.copy()
print('Copied List:',l3)

Copied List: [4, 9, 16, 25, 36, 49, 64, 81]

In [42]:
# Get the index of particular value
l3.index(81)

7

In [43]:
# Reverse the elemnt of list
l3.reverse()
print('Reversed List:', l3)

Reversed List: [81, 64, 49, 36, 25, 16, 9, 4]

In [44]:
# Sort the List
l3.sort()
print('Sorted List:', l3)

Sorted List: [4, 9, 16, 25, 36, 49, 64, 81]