# This is my first program
**This is my first python class**

In [1]:
#To add cell above ---> escape + a 
#To add cell below ---> escape + b
#To delete the cell ---> escape + x
#Make cell as a markdown ---> escape + m
#variable/container/user defined 
a = 10
b  = 5
sum1 = a + b
print(sum1, a, b)

#data type checking

print(type(sum1), type(a) , type(b))

15 10 5
<class 'int'> <class 'int'> <class 'int'>

In [2]:
#floating point numbers
f  =  10.5
c  = 5.5
diff = f - c
print(diff, type(f) , type(c))

5.0 <class 'float'> <class 'float'>

In [3]:
#strings ---> sequence of characters
name =  'Arav'
print('my name is',  name)
print('type of data stored is', type(name))

my name is Arav
type of data stored is <class 'str'>

In [4]:
#complex numbers

c  =  5+10j
print(c , type(c))

(5+10j) <class 'complex'>

In [5]:
#type casting---> converting from one data type to another type
#int ---> float
#float --> int
#possible conversions
#int ---> float--> possible
#float ---> int --->
i  =  10
converted = float(i)
print(i , converted)

#################
f  = 5.5
converted_f  = int(f)  
print(f , converted_f)

#################
#float ---> complex ---->
#int ---> complex ---->
#complex  --> int, float ---->

x  = 10.5
y  = complex(x)
print(x , y , type(x) , type(y))

#################
c =  10+5j
i  = int(c)



#################

10 10.0
5.5 5
10.5 (10.5+0j) <class 'float'> <class 'complex'>

TypeError: can't convert complex to int

In [6]:
#string ---> int
str1  =  '100'
i  = int(str1)
print(str1 , i , type(str1) , type(i))

100 100 <class 'str'> <class 'int'>

In [7]:
#int ---> string---> possible
i  = 200
str2  =  str(i)
print(i, str2 , type(i) , type(str2))

200 200 <class 'int'> <class 'str'>

In [8]:
#collections in python
#list
#tuple
#dictionary
#set

In [9]:
#average marks of students in a class
#sequence of elements 
# we use some of the data structures to store values sequentially

In [10]:
#create a list--->seq of elements
#list is created using list function, its empty list, denoted square, class called list
l1  = list()
print(l1 , type(l1))
print("-" *40)
l2 = [1,2,3,4,5,6, 10.5 ,"hi", 10+5j] #it is all integers,#homogenous
print(l2)



#ordered --->  satifies
l3 = [10,20,30,40,50, 10.5, "hi", 10, 10]#insertion order 
print(l3)
l4  = [100, 200]
l3 + l4   #concatenation

[] <class 'list'>
----------------------------------------
[1, 2, 3, 4, 5, 6, 10.5, 'hi', (10+5j)]
[10, 20, 30, 40, 50, 10.5, 'hi', 10, 10]

[10, 20, 30, 40, 50, 10.5, 'hi', 10, 10, 100, 200]

In [11]:
l5  = [1,2,3,4,5]  
#1---> 1000
#indexing ---> 0 --- n-1
print(len(l5))
print(l5[0], l5[1], l5[2] , l5[3], l5[4])
#slicing ---subset of this list

print('--------------------------Slicing------------------------')

print(l5[0:])
print(l5[0:1])
print(l5[0:2])
print(l5[0:3])
print(l5[1:4])
print(l5[-5:-3])
print(l5[-3:-2])

print('=========================Replace=========================')

l5[0]  =  1000
print(l5)

5
1 2 3 4 5
--------------------------Slicing------------------------
[1, 2, 3, 4, 5]
[1]
[1, 2]
[1, 2, 3]
[2, 3, 4]
[1, 2]
[3]
=========================Replace=========================
[1000, 2, 3, 4, 5]

# Tuple

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

In [12]:
#tuple ---> sequence
#common brackets
t1  = tuple()
print(t1)

()

In [13]:
t2  = (1,2,3,4,5,5,5)
#ordered --->
#duplicates--->
#mutable ---> #sqaure bracket ---indexing 
print(t2)
t2[0] = 2000

(1, 2, 3, 4, 5, 5, 5)

TypeError: 'tuple' object does not support item assignment

In [14]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

## Tuple Items
Tuple items are ordered, unchangeable, and allow duplicate values.

Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

### Ordered
When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

### Unchangeable
Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

### Allow Duplicates
Since tuples are indexed, they can have items with the same value:

In [15]:
#Tuples allow duplicate values:

thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [16]:
# Create Tuple With One Item
# To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

# Example
# One item tuple, remember the comma:

thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [17]:
# Tuple Items - Data Types
# Tuple items can be of any data type:

# Example
# String, int and boolean data types:

tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)
print('String Tuple::::::::', tuple1)
print('Integer Tuple::::::::', tuple2)
print('Boolean Tuple::::::::', tuple3)

String Tuple:::::::: ('apple', 'banana', 'cherry')
Integer Tuple:::::::: (1, 5, 7, 9, 3)
Boolean Tuple:::::::: (True, False, False)

In [18]:
# A tuple can contain different data types:

# Example
# A tuple with strings, integers and boolean values:

tuple_1 = ("abc", 34, True, 40, "male")
print(tuple_1)

('abc', 34, True, 40, 'male')

In [19]:
# type()
# From Python's perspective, tuples are defined as objects with the data type 'tuple':

# <class 'tuple'>

print(type(tuple_1))

<class 'tuple'>

In [20]:
# The tuple() Constructor
# It is also possible to use the tuple() constructor to make a tuple.

# Example
# Using the tuple() method to make a tuple:

thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

# Python Collections (Arrays)
There are four collection data types in the Python programming language:

    List is a collection which is ordered and changeable. Allows duplicate members.
    Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
    Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
    Dictionary is a collection which is ordered** and changeable. No duplicate members.

# Dictionary

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

In [21]:
#dictionary

d1 =  dict()
print(d1 , type(d1))

{} <class 'dict'>

In [22]:
d2 = {1: "Arav" , 2: "Kiara" , 3: "Nyra" , 4: "Hrutvik", 5: "Vicky"}
#key --- value pair ---> unique
print(d2)

{1: 'Arav', 2: 'Kiara', 3: 'Nyra', 4: 'Hrutvik', 5: 'Vicky'}

#### Dictionary Items

    Dictionary items are ordered, changeable, and does not allow duplicates.

    Dictionary items are presented in key:value pairs, and can be referred to by using the key name.

In [23]:
# Example

print(d2[1])

Arav

##### When we say that dictionaries are ordered, it means that the items have a defined order, and that order will not change.

##### Unordered means that the items does not have a defined order, you cannot refer to an item by using an index.

## Changeable
Dictionaries are changeable, meaning that we can change, add or remove items after the dictionary has been created.

In [24]:
# Duplicates Not Allowed
# Dictionaries cannot have two items with the same key:

# Example
# Duplicate values will overwrite existing values:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [25]:
# Dictionary Items - Data Types
# The values in dictionary items can be of any data type:

# Example
# String, int, boolean, and list data types:

thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

In [26]:
thisdict

{'brand': 'Ford',
 'electric': False,
 'year': 1964,
 'colors': ['red', 'white', 'blue']}

In [27]:
print(type(thisdict))

<class 'dict'>

# Set

In [29]:
#Set Creation 
s1 = set() #Set function to create a set
print(s1)
s2 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10} #no key and value pair
print(s2, type(s2))

set()
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10} <class 'set'>

In [30]:
#Unordered
s3 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'hi', 20.55, 10+5j, 1000}
s3

{(10+5j), 1, 10, 1000, 2, 20.55, 3, 4, 5, 6, 7, 8, 9, 'hi'}

In [31]:
#Duplicates not allowed
s4 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'hi', 20.55, 10+5j, 1000, 'hi', 2}
s4

{(10+5j), 1, 10, 1000, 2, 20.55, 3, 4, 5, 6, 7, 8, 9, 'hi'}

In [32]:
#Unmutable
#Indexing not allowed
s4[0] = 3000

TypeError: 'set' object is not subscriptable

# Built-in Function

In [34]:
#manipulation function
list_1 = [1, 2, 3, 4, 5, 6, 7]
print('Length of list is:',len(list_1))

Length of list is: 7

In [35]:
list_1.append(20) # Shift + Tab on particular function
list_1

[1, 2, 3, 4, 5, 6, 7, 20]

In [38]:
# list_1.extend() Multiple objects / items / elements
fruits = ['apple', 'banana', 'cherry']

cars = ['Ford', 'BMW', 'Volvo']

fruits.extend(cars)
print(fruits)
list_1.extend(fruits)
print('Length of list is:',len(list_1))

['apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo']
Length of list is: 20

## append() adds a single element to the end of the list while . extend() can add multiple individual elements to the end of the list.

In [40]:

list_1.append([1000, 2000])
print(list_1) # It creating list of list / also called as nested list

[1, 2, 3, 4, 5, 6, 7, 20, 'apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo', 'apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo', [1000, 2000], [1000, 2000]]

In [41]:
# Remove last elemnt in list 
list_1.pop(21)

[1000, 2000]

In [43]:
# Index of nested list
print(list_1[20])
print('-'*50)
print(list_1[20][0])
print('-'*50)
print(list_1[20][1])

[1000, 2000]
--------------------------------------------------
1000
--------------------------------------------------
2000

In [45]:
# Copy of list
copy_list = list_1.copy()
print(list_1)
print('-'*50)
print(copy_list)

[1, 2, 3, 4, 5, 6, 7, 20, 'apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo', 'apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo', [1000, 2000]]
--------------------------------------------------
[1, 2, 3, 4, 5, 6, 7, 20, 'apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo', 'apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo', [1000, 2000]]

In [46]:
# Insert element at particular index
list_1.insert(0, 4000)
print('List after inserting at particular index:', list_1)

List after inserting at particular index: [4000, 1, 2, 3, 4, 5, 6, 7, 20, 'apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo', 'apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo', [1000, 2000]]

[]

In [48]:
# Remove function
list_3 = [5000, 3, 9, 12, 15, 18, 21, 27]
print(list_3)
print('-'*100)
list_3.remove(5000)
print(list_3)

[5000, 3, 9, 12, 15, 18, 21, 27]
----------------------------------------------------------------------------------------------------
[3, 9, 12, 15, 18, 21, 27]

In [49]:
# Remove last element of list
list_3.pop()

27

In [50]:
list_3

[3, 9, 12, 15, 18, 21]

## Remove will take value to remove the element from list
## pop will take the index to remove the element from list

In [51]:
# Clear method to delete all elements from list
list_2 = [2, 4, 9, 16, 25]
list_2.clear()
list_2

[]

In [52]:
list_2.extend([2, 4, 9, 16, 25])
list_2

[2, 4, 9, 16, 25]

In [53]:
# del keyword
del list_2[0]

In [54]:
list_2

[4, 9, 16, 25]

In [55]:
# Delete indexwise list
del list_2[0:2]

In [56]:
list_2

[16, 25]

In [57]:
# Delete entire list
del list_2

In [58]:
list_2

NameError: name 'list_2' is not defined

In [59]:
list_2 = [4, 9, 16, 25, 36, 49, 64, 81]
list_2

[4, 9, 16, 25, 36, 49, 64, 81]

In [103]:
# Count method
l2 = [1, 4, 9, 16, 25, 4, 9, 25, 81]
print(l2)
print('-'*100)
print(l2.count(4))

[1, 4, 9, 16, 25, 4, 9, 25, 81]
----------------------------------------------------------------------------------------------------
2

In [104]:
# Copy List
l3 = list_2.copy()
print('Copied List:',l3)

Copied List: [4, 9, 16, 25, 36, 49, 64, 81]

In [108]:
# Get the index of particular value
l3.index(81)

7

In [111]:
# Reverse the elemnt of list
l3.reverse()
print('Reversed List:', l3)

Reversed List: [81, 64, 49, 36, 25, 16, 9, 4]

In [113]:
# Sort the List
l3.sort()
print('Sorted List:', l3)

Sorted List: [4, 9, 16, 25, 36, 49, 64, 81]

# Tuple Manipulation Function

In [60]:
tup1 = (1,2,3,4,5,6)
tup1

(1, 2, 3, 4, 5, 6)

In [63]:
# Count method
tup1.count(1)

1

In [77]:
tup2 = (10, 10, 10, 20, 20, 30, 10, 30)
tup2

(10, 10, 10, 20, 20, 30, 10, 30)

In [65]:
tup2.count(10)

3

In [66]:
tup2.count(20)

2

In [70]:
# Particular index
tup1.index(1)

0

In [81]:
# We have to give range for multiple number of same element
#tuple.index(value, start, stop)
tup2.index(10, 3, 7)

6

# Dictionary Manipulation Function

In [90]:
d1 = {1:'Pune', 2:'Mumbai', 3:'Delhi', 4:'Bangalore', 5:'Chennai'}
d1

{1: 'Pune', 2: 'Mumbai', 3: 'Delhi', 4: 'Bangalore', 5: 'Chennai'}

In [91]:
d1.items() # To fetch the items (key -- value pairs in the dictionary)

dict_items([(1, 'Pune'), (2, 'Mumbai'), (3, 'Delhi'), (4, 'Bangalore'), (5, 'Chennai')])

In [92]:
# Keys of dictionary
d1.keys()

dict_keys([1, 2, 3, 4, 5])

In [93]:
# Values of dictionary
d1.values()

dict_values(['Pune', 'Mumbai', 'Delhi', 'Bangalore', 'Chennai'])

In [94]:
# To get particular value
d1.get(1)

'Pune'

In [95]:
#Remove the key value of dictionary
# dict.pop(key)
d1.pop(3)

'Delhi'

In [96]:
d1.pop(3)

KeyError: 3

In [97]:
d1

{1: 'Pune', 2: 'Mumbai', 4: 'Bangalore', 5: 'Chennai'}

In [98]:
# Adding elemnts in dict
d1.update({3:'Hyderabad'})

In [99]:
d1

{1: 'Pune', 2: 'Mumbai', 4: 'Bangalore', 5: 'Chennai', 3: 'Hyderabad'}

In [101]:
# Copy dictionary in other dictionary
d2 = d1.copy()

In [102]:
d2

{1: 'Pune', 2: 'Mumbai', 4: 'Bangalore', 5: 'Chennai', 3: 'Hyderabad'}