## collections in python
## Tuple

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

In [2]:
#tuple ---> sequence
#common brackets
t1  = tuple()
print(t1)

()

In [3]:
t2  = (1,2,3,4,5,5,5)
#ordered --->
#duplicates--->
#mutable ---> #sqaure bracket ---indexing 
print(t2)
t2[0] = 2000

(1, 2, 3, 4, 5, 5, 5)

TypeError: 'tuple' object does not support item assignment

In [4]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

## Tuple Items
Tuple items are ordered, unchangeable, and allow duplicate values.

Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

### Ordered
When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

### Unchangeable
Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

### Allow Duplicates
Since tuples are indexed, they can have items with the same value:

In [5]:
#Tuples allow duplicate values:

thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [6]:
# Create Tuple With One Item
# To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

# Example
# One item tuple, remember the comma:

thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [7]:
# Tuple Items - Data Types
# Tuple items can be of any data type:

# Example
# String, int and boolean data types:

tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)
print('String Tuple::::::::', tuple1)
print('Integer Tuple::::::::', tuple2)
print('Boolean Tuple::::::::', tuple3)

String Tuple:::::::: ('apple', 'banana', 'cherry')
Integer Tuple:::::::: (1, 5, 7, 9, 3)
Boolean Tuple:::::::: (True, False, False)

In [8]:
# A tuple can contain different data types:

# Example
# A tuple with strings, integers and boolean values:

tuple_1 = ("abc", 34, True, 40, "male")
print(tuple_1)

('abc', 34, True, 40, 'male')

In [9]:
# type()
# From Python's perspective, tuples are defined as objects with the data type 'tuple':

# <class 'tuple'>

print(type(tuple_1))

<class 'tuple'>

In [10]:
# The tuple() Constructor
# It is also possible to use the tuple() constructor to make a tuple.

# Example
# Using the tuple() method to make a tuple:

thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

# Python Collections (Arrays)
There are four collection data types in the Python programming language:

    List is a collection which is ordered and changeable. Allows duplicate members.
    Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
    Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
    Dictionary is a collection which is ordered** and changeable. No duplicate members.

# Tuple Manipulation Function

In [12]:
tup1 = (1,2,3,4,5,6)
tup1

(1, 2, 3, 4, 5, 6)

In [13]:
# Count method
tup1.count(1)

1

In [14]:
tup2 = (10, 10, 10, 20, 20, 30, 10, 30)
tup2

(10, 10, 10, 20, 20, 30, 10, 30)

In [15]:
tup2.count(10)

4

In [16]:
tup2.count(20)

2

In [17]:
# Particular index
tup1.index(1)

0

In [18]:
# We have to give range for multiple number of same element
#tuple.index(value, start, stop)
tup2.index(10, 3, 7)

6